<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <style>
        form {
            background: chocolate;
        }
        a {
            text-decoration: none;
            color: brown;
        }

        div {
            position: relative;
            overflow: hidden;
            text-align: center;
            box-shadow: 0 0 5px rgba(0, 0, 0, .2);
            background: black;
            color: white;
        }
    </style>
    <title>Корзина</title>
</head>
<body>
<h3>Корзина товаров</h3>
<div th:each="product : ${cart_product}">
    <img th:src="'/img/' + ${product.imageList[0].getFileName()}" width="300px">
    <br>
    <a th:href="@{/product/info/{id}(id=${product.getId()})}" th:text="${product.getTitle()}"></a>
    <p th:text="'Цена: ' + ${product.getPrice()}"></p>
    <a th:href="@{/cart/delete/{id}(id=${product.getId()})}">Удалить</a>
    <hr>
</div>
<h3 th:text="'Итоговая цена: ' + ${price}"></h3>
<a href="/order/create">Оформить заказ</a>
</body>
</html>